@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

h1 {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 2rem;
}
.designs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.design {
  border: 1px #404040 solid;
  margin: 1rem;
}

.design img {
  width: 100%;
  max-width: 400px;
}



.design-info {
  padding: 1rem;
}

